extends: moqada/react
parser: babel-eslint
globals:
  __DEV__: true
  ReactComponent: true
  ReactElement: true
rules:
  require-jsdoc:
    - 2
    - require:
        FunctionDeclaration: true
        MethodDefinition: true
        ClassDeclaration: false
