 {
   "include": [
     "src/**/*.js"
   ],
   "exclude": [
     "src/**/__tests__/**",
     "vendor/**"
   ],
   "reporter": [
     "html",
     "lcov",
     "text"
   ],
   "require": [
     "./test/hook.js"
   ]
 }
